aliyun-python-sdk-cms==7.0.10
aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-r-kvstore==2.12.0
aliyun-python-sdk-rds==2.4.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.2.1
idna==2.10
jmespath==0.10.0
pycparser==2.20
PyMySQL==0.10.1
python-dateutil==2.8.1
rdbtools==0.1.15
redis==3.5.3
requests==2.25.1
six==1.15.0
urllib3==1.26.2
